@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NeueMontreal", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

@font-face {
  font-family: "PPNeueBit";
  src: url("/font/mondwest-neuebit-font-1763924474-0/ppneuebit-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPMondwest";
  src: url("/font/mondwest-neuebit-font-1763924474-0/ppmondwest-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/font/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/font/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/font/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/font/neue-montreal-free-demo-pangram-pangram-030418/NeueMontreal-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-neuebit {
  font-family: "PPNeueBit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.font-mondwest {
  font-family: "PPMondwest", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
